@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

body{
    background-color: #010101;
}


:root {
  --color-hover: #7272FD;
  --color-des: #1c2f8c;
  --font-jost: 'Jost', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
  --color-bgSec: #FFE9E9;
  --color-bgHover: #CCB0FA
}
@theme {
    --color-hover: #7272FD;
    --color-des: #1c2f8c;
    --font-jost: 'Jost', sans-serif;
    --font-playfair: 'Playfair Display', serif;
    --font-inter: 'Inter', sans-serif;
    --color-bgSec: #FFE9E9;
    --color-bgHover: #CCB0FA
  }

  .images {
  position: relative;
  clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 5% 100%, 0 90%);
  width: 300px;
}

.images::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  filter: blur(2px);
}
.images-rtl {
  clip-path: polygon(10% 0, 100% 0, 100% 90%, 95% 100%, 0 100%, 0 20%);
  width: 300px;
}

.images-rtl::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px; /* Glow on top-right for RTL */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  filter: blur(2px);
}

.imagebg {
  clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 5% 100%, 0 90%);
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: white;
  opacity: 0.4;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  transform: scale(1.3);
  opacity: 1;
  background: white;
}
.bgGradient{
 background: linear-gradient(179.99deg, #000 9.21%, #6d3874 70.06%, #ba4c6a 102.27%);
}
.swiper-linear .swiper-wrapper {
  transition-timing-function: linear !important;
}
.bgRidial {
  background-image:  radial-gradient(119.96% 121.22% at 50% -6.69%, rgb(0, 0, 0) 30%, rgb(101, 32, 15) 80%, rgb(178, 56, 27) 100%, rgb(0, 0, 0) 69.81%, rgba(0, 0, 0, 0) 84.81%, rgba(0, 0, 0, 0) 96.2%);
}
.clibPath {
 clip-path:  polygon(0 0, 100% 0, 100% 66%, 75% 100%, 0 100%, 0 50%);
}
.clipPathAr {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0 66%);
}

.mask {

  clip-path: path("M293.801 1.39453L293.036 2.37305L232.469 79.7734H258.452L258.603 80.1592L293.123 169.185L293.442 170.009H64.5781L64.4268 169.626L29.3984 80.9834H1.75L2.52539 80.0029L64.5156 1.625L64.6973 1.39453H293.801Z");
}
.newsBg {
  background: linear-gradient(179.99deg, #000 9.21%, #6d3874 70.06%, #ba4c6a 102.27%);

}

 @keyframes verticalScroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes verticalScrollReversed {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@layer utilities {
  .animate-vertical-scroll {
    animation: verticalScroll linear infinite;
  }
}
  .border-gradient-focus:focus {
    border-image: linear-gradient(to right, #ff007a, #ff8c00, #ff007a) 1;
  }